[submodule "public"]
	path = public
	url = git@github.com:wooken/wooken.github.io.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
